<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KitchenCrafts Website</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <section id="Home">
        <nav>
            <div class="container">
                <h1>KitchenCrafts</h1>

                
            
        
        
            </div>

            <ul>
                <li><a href="#Home">Home</a></li>
                <li><a href="#About">About</a></li>
                <li><a href="#Menu">Menu</a></li>
                <li><a href="#Review">Review</a></li>
                <li><a href="#Order">Order</a></li>
            </ul>



            <div class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>

        </nav>

        <div class="main">
        

            <div class="men_text">
                <h1>Get Fresh<span>Food</span><br>at your doorstep</h1>
            </div>

            <div class="main_image">
                <img src="image/main_img.png">
            </div>

        </div>

        <p>
            Discover a new era of culinary convenience with KitchenCrafts, the ultimate food delivery app. From farm-fresh ingredients to gourmet meals, our curated selection ensures that every dish is a masterpiece waiting to be savored. With just a tap, elevate your dining experience and embrace a world of flavor, quality, and convenience, all delivered right to your doorstep. Welcome to KitchenCrafts – where culinary excellence meets effortless dining.





        </p>

        <div class="main_btn">
            <a href="#">Order Now</a>
            <i class="fa-solid fa-angle-right"></i>
        </div>

    </section>



    <!--About-->

    <div class="about" id="About">
        <div class="about_main">

            <div class="image">
                <img src="image/Food-Plate.png">
            </div>

            <div class="about_text">
                <h1><span>About</span>Us</h1>
                <h3>Why Choose us?</h3>
                <p>
                    Elevate your culinary experience with KitchenCrafts, where convenience meets excellence. Why settle for ordinary when you can indulge in extraordinary freshness delivered right to your doorstep? We pride ourselves on sourcing the finest ingredients directly from local farms and producers, ensuring each item is bursting with flavor and vitality. Join our community of food enthusiasts who value quality, convenience, and the joy of savoring every bite. Choose KitchenCrafts – because exceptional meals start with exceptional ingredients.
                </p>
            </div>

        </div>

        <a href="#" class="about_btn">Order Now</a>

    </div>



    <!--Menu-->

    <div class="menu" id="Menu">
        <h1>Our<span>Menu</span></h1>

        <div class="menu_box">
            <div class="menu_card">

                <div class="menu_image">
                    <img src="image/buger.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Burger</h2>
                    <p>
                        Savor the sizzle and taste the perfection with KitchenCrafts' burger essentials. 
                    </p>
                    <h3>200.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 
            
            <div class="menu_card">

                <div class="menu_image">
                    <img src="image/pasta.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Pasta</h2>
                    <p>
                        Elevate your pasta dishes with our rich and flavorful sauces, made from ripe tomatoes, aromatic herbs, and imported cheeses.
                    </p>
                    <h3>120.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>
            </div> 

            

            <div class="menu_card">

                <div class="menu_image">
                    <img src="image/chocolate_Drink.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Drink</h2>
                    <p>
                        Quench your thirst with KitchenCrafts refreshing drink selection. 
                    </p>
                    <h3>60.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="image/pizza.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Pizza</h2>
                    <p>
                        Crafted with hand-tossed dough, savory tomato sauce, and premium toppings, each bite is a symphony of flavors.
                    </p>
                    <h3>300.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 




            <div class="menu_card">

                <div class="menu_image">
                    <img src="image/juse.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Juice</h2>
                    <p>
                        From tangy orange to refreshing watermelon, our juices are made from the finest handpicked fruits. 
                    </p>
                    <h3>50.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            <div class="menu_card">

                <div class="menu_image">
                    <img src="image/biryani.webp">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Biryani</h2>
                    <p>
                        Bursting with complex flavors and textures, our biryani is a true culinary delight that will leave you craving more. 
                    </p>
                    <h3>150.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            

            <div class="menu_card">

                <div class="menu_image">
                    <img src="image/ice_cream.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Ice Cream</h2>
                    <p>
                        From classic vanilla bean to exotic mango sorbet, each scoop is a journey of decadence and delight.
                    </p>
                    <h3>90.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 

            
            <div class="menu_card">

                <div class="menu_image">
                    <img src="image/sandwich.jpg">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2>Sandwich</h2>
                    <p>
                        Elevate your mealtime experience with KitchenCrafts' delectable sandwiches. 
                    </p>
                    <h3>130.00</h3>
                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <a href="#" class="menu_btn">Order Now</a>
                </div>

            </div> 
            
        </div>

    </div>




    



    <!--Review-->

    <div class="review" id="Review">
        <h1>Customer<span>Review</span></h1>

        <div class="review_box">
            

            <div class="review_card">

                <div class="review_profile">
                    <img src="image/review1.png">
                </div>

                <div class="review_text">
                    <h2 class="name">Kadiri Koushik Reddy</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        "KitchenCrafts has completely transformed the way I approach mealtime. Their dedication to sourcing the freshest ingredients and delivering them right to my doorstep has made cooking a joy again."
                    </p>

                </div>

            </div>

            <div class="review_card">

                <div class="review_profile">
                    <img src="image/review2.png">
                </div>

                <div class="review_text">
                    <h2 class="name">Riethik</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        "KitchenCrafts has simplified my meal prep like never before. With their fresh ingredients and prompt delivery, I can whip up gourmet dishes in no time. Quality meets convenience with KitchenCrafts – highly recommend!"
                    </p>

                </div>

            </div>


            <div class="review_card">

                <div class="review_profile">
                    <img src="image/review3.png">
                </div>

                <div class="review_text">
                    <h2 class="name">Usha</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        "KitchenCrafts has made cooking a delight! Fresh ingredients, easy ordering, and quick delivery. My go-to for hassle-free meals."
                    </p>

                </div>

            </div>

            
            <div class="review_card">

                <div class="review_profile">
                    <img src="image/review4.png">
                </div>

                <div class="review_text">
                    <h2 class="name">Tessa Mariam</h2>

                    <div class="review_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                    </div>

                    <div class="review_social">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin-in"></i>
                    </div>

                    <p>
                        I appreciate their commitment to quality, as every product I've received has been impeccably fresh and flavorful. Plus, their user-friendly platform and responsive customer support team make ordering a pleasure. 
                    </p>

                </div>

            </div>

        </div>

    </div>



    <!--Order-->

    <div class="order" id="Order">
        <h1><span>Order</span>Now</h1>

        <div class="order_main">

            <div class="order_image">
                <img src="image/order_image.png">
            </div>

            <form action="#">

                <div class="input">
                    <p>Name</p>
                    <input type="text" placeholder="your name">
                </div>

                <div class="input">
                    <p>Email</p>
                    <input type="email" placeholder="your email">
                </div>

                <div class="input">
                    <p>Number</p>
                    <input placeholder="your number">
                </div>

                <div class="input">
                    <p>Quantity</p>
                    <input type="number" placeholder="how many quantity">
                </div>

                <div class="input">
                    <p>Your Order</p>
                    <input placeholder="food name">
                </div>

                <div class="input">
                    <p>Address</p>
                    <input placeholder="your Address">
                </div>

                <a href="#" class="order_btn">Order Now</a>

            </form>

        </div>

    </div>



    <!--Team-->

    <div class="team">
        <h1>Our<span>Team</span></h1>

        <div class="team_box">
            <div class="profile">
                <img src="image/chef1.png">

                <div class="info">
                    <h2 class="name">Chef Alex</h2>
                    <p class="bio">"Chef Alex brings a wealth of experience and creativity to KitchenCrafts."</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

            <div class="profile">
                <img src="image/chef2.png">

                <div class="info">
                    <h2 class="name">Chef Kiara</h2>
                    <p class="bio">"Chef Mia at KitchenCrafts is a culinary virtuoso,she transforms every meal into a masterpiece."</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

            <div class="profile">
                <img src="image/chef3.jpg">

                <div class="info">
                    <h2 class="name">Chef Michael</h2>
                    <p class="bio">"Chef Michael's culinary expertise elevates every dish he creates, infusing them with unmatched flavor and creativity."</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

            <div class="profile">
                <img src="image/chef4.jpg">

                <div class="info">
                    <h2 class="name">Chef David</h2>
                    <p class="bio">"Chef David's culinary mastery transforms ingredients into culinary works of art, delighting palates with his creative flair."</p>

                    <div class="team_icon">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                    </div>

                </div>

            </div>

        </div>

    </div>



    <!--Footer-->

    <footer>
        <div class="footer_main">

            <div class="footer_tag">
                <h2>Location</h2>
                <p>Bangalore</p>
                <p>Chennai</p>
                <p>Hyderabad</p>
                <p>Kerala</p>
            </div>

            <div class="footer_tag">
                <h2>Quick Link</h2>
                <p>Home</p>
                <p>About</p>
                <p>Menu</p>
                <p>Gallery</p>
                <p>Order</p>
            </div>

            <div class="footer_tag">
                <h2>Contact</h2>
                <p>+91 9945678921</p>
                <p>+94 9624316090</p>
                <p>kitchencrafts123@gmail.com</p>
            </div>

            <div class="footer_tag">
                <h2>Our Service</h2>
                <p>Fast Delivery</p>
                <p>Easy Payments</p>
                <p>24 x 7 Service</p>
            </div>

            <div class="footer_tag">
                <h2>Follows</h2>
                <i class="fa-brands fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin-in"></i>
            </div>

        </div>

        <p class="end">Designed by<span><i class="fa-solid fa-face-grin"></i> KitchenCrafts</span></p>

    </footer>



    
</body>
</html>
