<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta hhtp-equiv="X-UA-Compatible"content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KitchenCrafts|Login</title>
    <link rel="stylesheet" href="/style.css"> <!-- Link to your CSS file -->
</head>
<body>

    <div class="nav">
        
        <div class="logo"><h2><KitchenCrafts</h2></div>

        <div class="navlinks">
            <ul>
                <li><a class="navborder" href="">Home</a></li>
                <li><a class="navborder" href="">Blog</a></li>
                <li><a class="navborder" href="">Services</a></li>
                <li><a class="navborder" href="">About</a></li>
                <li><a class="navborder" href="">Privacy Policy</a></li>

                <li><a href="/logout">Logout</a></li>

            </ul>
        </div>
    </div>

    <div class="container">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <div class="signup-link">
            Don't have an account? <a href="/signup">Sign Up</a>
        </div>
    </div>
</body>
</html>
